@if (ViewBag.type == "success")
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.type == "primary")
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.type == "secondary")
{
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.type == "danger")
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.type == "warning")
{

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.type == "info")
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (ViewBag.type == "light")
{
    <div class="alert alert-light alert-dismissible fade show" role="alert">
    <strong> @ViewBag.type</strong> @ViewBag.Message;
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}
else if (ViewBag.type == "dark")
{
    <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <strong> @ViewBag.type</strong> @ViewBag.Message;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



